input[type="radio"]{
    margin-top: 10px;
    margin-right: 5px;
    height: 20px;
    width: 20px;
}
input[type="radio"]+label{
    margin-right: 30px;
    font-size: 15px;
}
input[type="checkbox"]{
    height: 17px;
    width: 17px;
}
.icon-custom{
    font-size: 18px;
    margin-left: 5px;
}

.view-label-1{
    font-size: 18px;
    margin-left: 5px;
    font-weight: bolder;
}
.view-label-2{
    font-size: 15px;
    margin-left: 5px;
}
#form{
    margin-bottom: 0;
}
.account-number{
    letter-spacing: 7px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}
.uppercase{
    text-transform: uppercase;
}
.font-size-4px{
    font-size: 4px;
}
.font-size-6px{
    font-size: 6px;
}
.font-size-8px{
    font-size: 8px;
}
.font-size-10px{
    font-size: 10px;
}
.font-size-12px{
    font-size: 12px;
}
.type-ahead {
    width: 49px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    background-color: #fbfbfb;
    text-align: center;
    font-weight: 500;
}
.type-ahead-day {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    background-color: #fbfbfb;
    text-align: center;
    font-weight: 500;
}
.form-group-0_5 {
    margin-bottom: 0.5rem;
}
.select2-container{
    width: 100% !important;
}
.style-none{
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}